body{
    margin-top: 20px;
    padding: auto;
    background-size: cover;
    background-image: url("IMAGENS/lilac.png");
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, sans-serif;
    background-color: #f1ebfd75;

}

.logo{
    height: 45px;
    margin-left: 20px;
    margin-right: 20px;
   
}

.lupa{
    height:250px;
    width: 250px;
    margin: 20px;
    padding: auto;
   
}

.tamanhoTexto{
    display: inline-block;
    height: 400px;
    width: 300px;
    margin:  30px 120px 30px 120px;
    padding: 20px;
    border-radius: 30px;
    border-color: rgba(174, 239, 241, 0.534);
    color: rgb(53, 0, 114);   
    background-color: rgba(148, 52, 191, 0.1);

}

.textoInicial {
    display: flex;
    justify-content: center;
}

.descriptografia{
    display: inline-block;
    height: 600px;
    width: 300px;
    margin:  30px 120px 30px 120px;
    padding: 10px;
    color: black;
    background-color: rgba(194, 152, 233, 0.61);
    border-radius: 20px;
    border-color: rgb(203, 174, 241);

}

.resposta{
    display: flex;
    justify-content: center;
    height:250px;
    width: 300px;
    margin: 25px 0px 0px 0px;
    padding: 20;
    border-radius: 30px;
    background-color: white;
    border-color: rgba(174, 239, 241, 0.534);
    color: rgb(53, 0, 114);  
}

.posicaoButton{
  margin-top: 10px;
  margin-left: 110px;
  padding: 20px;
  border: 0;
    
}
.copiar{
    margin-top: 10px;
    margin-left: 120px;
    color: black;
    font-size: 18px;
    /* font-family: fantasy; */
    background-color: rgba(102, 58, 143, 0.418);
    border-radius: 20px;
    border-color: rgb(203, 174, 241);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, sans-serif;
      
}
.buttonCriptografia{
    margin: 10px;
    padding: 10px;
    font-size: 18px;
    /* font-family: fantasy; */
    color: black;
    background-color: rgba(194, 152, 233, 0.61);
    border-radius: 20px;
    border-color: rgb(203, 174, 241);

}

.buttonDescriptografia{
    margin: 10px 20px 10px 20px;
    padding: 10px 20px 10px 20px;
    font-size: 18px;
    /* font-family: fantasy; */
    color: black;
    background-color: rgba(222, 105, 238, 0.534);
    border-radius: 20px;
    border-color: rgb(209, 174, 241);

}

h1{
    display: flex;
    justify-content: left;
    margin-left: 220px;
    font-size: 32px;
    /* font-family: fantasy; */
    color: blueviolet;
  

}

footer {
    display: block;
    position: relative; 
    padding: 20px;
    background-color: #e4c3f1;
    text-align: center;
    color: blueviolet;
}

