p {
  text-align: center
}
h1{
  text-align: center
}

#missao{
  font-size: 20px
}

.item{
  font-family: italic;
}

body {
    background-size: cover;
    background-image: url(IMAGENS/ONE+desktop+2.png);
}

.container-campos {
  color: #fffefe;
  display: ruby-base-container;
  flex-direction: row;
  margin-top: 90px;
  margin-left: 100px;
}
  
label{
  font-size: 38px;
  /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ; */
  font-family: 'Oswald', sans-serif;
}

input {
  background-color: rgba(255, 102, 0, 0.226);
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}

button {
  background-color: rgba(255, 102, 0, 0.719);
  color: rgb(253, 253, 253);
  font-size: 28px;
  border-top:30%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
