/* Fundo da logo */
header {
  background: #0072f5;
  padding: 20px;

}
/* Imagem logo */
.caixa{
  position: relative;
  width: 940px;
  margin: 0 auto;

}

/* Posição da logo */
nav{
  position: absolute;
  top: 110px;
  right: 0;
}

/* Posição da home */
nav li{
  display: inline;
  margin: 0 0 0 15px;
  
}

/* configuração dos Links */
nav a{
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;

}

nav a:hover{
color: rgb(230, 0, 238);
text-decoration: underline;
}


/* Configuração dos Produtos */

/* Ttitulo */
.produtos h2 {
  font-size: 30px;
  font-weight: bold;

}

/* paragrafo valor */
.produto-valor{
font-size: 22px;
font-weight: bold;
margin-top: 10px;

}
/* descrição do produto*/
.produto-descricao{
font-size: 18px;

}


/* alinhamento para centralizar */
.produtos{
  width: 940px;
  margin: 0 auto;
  padding: 50px 0;

}

.produtos li{
  display: inline-block;
  text-align: center;
  width: 30%;
  vertical-align: top;
  margin:0 1.5%;
  padding: 30px 20px;
  box-sizing: border-box;
  border: rgb(1, 8, 68) 2px solid ;
  border-radius: 30px;

}