/* Fundo da logo */
header {
	background:#9184aa;
	padding: 20px 0;
}

/* Imagem logo */
.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

/* Posição da logo */
nav {
	position: absolute;
	top: 110px;
	right: 0;
}

/* Posição da home */
nav li {
	display: inline;
	margin: 0 0 0 15px;
}

/* configuração dos Links */
nav a {
	text-transform: uppercase;
	colo: rgb(0, 8, 53);
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: rgb(162, 0, 255);
	text-decoration: underline;
}

.produtos {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}

.produtos li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
}

.produtos li:hover {
	border-color: rgb(162, 0, 255)
}

.produtos li:active {
	border-color: rgb(162, 0, 255);	
}

.produtos li:hover h2 {
	font-size: 34px;
}

.produtos h2 {
	font-size: 30px;
	font-weight: bold;
}

.produto-descricao {
	font-size: 18px;
}

.produto-preco {
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
}
/* rodape  */
footer {
	text-align: center;
	background: url("bg.jpg");
	padding: 40px 0;
}

.copyright {
	color: rgb(255, 255, 255);
	font-size: 13px;
	margin: 20px 0 0;
}

main {
	width: 940px;
	margin: 0 auto;
}

form {
	margin: 40px 0;
}

form label, form legend {
	display:block;
	font-size: 20px;
	margin: 0 0 10px;
}

.input-padrao {
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;
}

.checkbox {
	margin: 20px 0;
}

.enviar {
	width:40%;
	padding: 15px 0;
	background: rgb(162, 0, 255);
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
}

.enviar:hover {
	background: #9184aa;
	transform: scale(1.2);
}

table {
	margin: 20px 0 40px;
}

thead {
	background:#9184aa;
	color: white;
	font-weight: bold;
}

td, th {
	border: 1px solid #000000;
	padding: 8px 15px;
}


/* css da página inicial */
.banner {
	width:100%;
}

.titulo-principal {
	text-align: center;
	font-size: 2em;
	margin: 0 0 1em;
	clear: left;
}

.principal p {
	margin: 0 0 1em;
}

.principal strong {
	font-weight: bold;
}

.principal em {
	font-style: italic;
}

.utensilios {
	width: 120px;
	float: left;
	margin: 0 20px 20px 0;
}

.imagembeneficios {
	width: 60%;
}