p {
  text-align: center
}
h1{
  text-align: center
}

#missao{
  font-size: 20px
}

.item{
  font-family: italic;
}


#banner{
  width: 100%;
}

.imagembeneficios{
  width: 50%;
}

body {
    background-size:contain;
    background-image: url(IMAGENS/ONE+desktop+2.png);
}
