body{
    background-image: url("IMAGENS/img_glp_post.jpg");
    background-size: cover;
}

.container-campos {
  color: #0e0d0d;
  display: flex;
  flex-direction: row-reverse;
  
}

label{
  font-size: 25px;
}

input {
  background-color: rgba(93, 197, 238, 0.507);
}

.container-campos1 {
  color: #030303;
  display: ruby-base-container;
  flex-direction: row;
  margin-top: 250px;
  margin-left: 175px;
 

}