#home
#Logo 
header {
  background: #93b8c5;
  padding: 20px;
}
.caixa{
  position: relative;
  width: 940px;
  margin: 0 auto;

}

#Home
nav{
  position: absolute;
  top: 110px;
  right: 0;
}

#home
#configurando li entro da home
nav li{
  display: inline;
  margin: 0 0 0 15px;
  
}

#home
#configurando a li a
nav a{
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;

}

