/* Fundo da logo */
header {
  background: #93b8c5;
  padding: 20px;
}
/* Imagem logo */
.caixa{
  position: relative;
  width: 940px;
  margin: 0 auto;

}

/* Posição da logo */
nav{
  position: absolute;
  top: 110px;
  right: 0;
}

/* Posição da home */
nav li{
  display: inline;
  margin: 0 0 0 15px;
  
}

/* configuração dos Links */
nav a{
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;

}

/* Configuração dos Produtos */
.produtos li{
  display: inline-block;
}